__pycache__/
*.pyc
venv/
.env
*.db
.DS_Store
# Alles im data-Ordner ignorieren (damit keine echten Passwörter hochladen)...
data/*
# ...ABER unsere Info-Datei erlauben (damit der Ordner überhaupt existiert)
!data/info.txt

# Bei den Uploads ignorieren wir NICHTS, damit deine Poster mit hochgeladen werden!
# (Habe gesehen, dass du da schon PDFs drin hast, die sollen ja sicher auf den Server)